#gaestebuch-form {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#gaestebuch-form input,
#gaestebuch-form textarea {
    /* min-width: 600px; */
    padding: 0.5em 1em;
}

#gaestebuch-form {
    gap: 1em;
}

#gaestebuch-form .rating-container {
    font-size: 2.5em;
}

#gaestebuch-form .rating-container label {
    display: inline-block;
    cursor: pointer;
    transition: transform linear 150ms;
}

#gaestebuch-form .rating-container label:hover {
    transform: scale(1.2);
}

#gaestebuch-form label span,
#gaestebuch-form i span {
    color: var(--font-error);
    margin-left: 0.2em;
}

#gaestebuch-form input,
#gaestebuch-form textarea {
    /* background-color: var(--primary); */
    /* color: #fdfdfd; */
    /* font-size: 1.2em; */
}

#gaestebuch-form textarea {
    resize: vertical;
}

#gaestebuch-form button {
    cursor: pointer;
    background-color: var(--primary);
    color: #fdfdfd;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border-radius: 2em;
    border:none;
}

#gaestebuch-form button:hover {
    background-color: var(--primary-hover);
}

#gaestebuch-form button:active {
    background-color: var(--primary-active);
}