:root {
    /* COLORS */
    --primary: #00d48a;
    --primary-hover: #1ad996;
    --primary-active: #16be84;
    --background: #383838;
    --background-secondary: #414141;
    --font: #fdfdfd;
    --font-error: #c30505;
    --white: #fdfdfd;

    /* ROOT STYLE */
    background-color: var(--background);
    color: var(--font);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.glob-navigation {
    display: flex;
    flex-flow: row;
    gap: 2rem;
}

.glob-navigation .nav-item {
    font-size: 1.6rem;
    background-color: var(--primary);
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 2em;

    /* DISABLE A STYLES */
    color: inherit;
    text-decoration: none;
}

.glob-navigation .nav-item:hover {

    animation: hue-rotation 10s infinite;
}

.glob-divider {
    border-color: var(--primary);
}

#content {
    /* FADE IN */
    opacity: 0;
    transition: opacity 300ms linear;
    text-align: center;
}

#content h1 {
    border-bottom: 2px solid var(--primary);
}

#content a {
    color: var(--primary);
}

#content a:hover {
    animation: hue-rotation 1s infinite;
}

#content>section {
    margin-bottom: 6em;
}

.layout {
    /* LAYOUT */
    max-width: initial;
    margin: auto;
    padding: 0 1em;
}

.image-full {
    width: 100%;
}

@media only screen and (min-width: 1200px) {
    .layout {
        max-width: 1200px;
    }
}

@keyframes hue-rotation {
    0% {
        filter: hue-rotate(0deg);
    }

    25% {
        filter: hue-rotate(0.25turn);
    }

    50% {
        filter: hue-rotate(0.5turn);
    }

    75% {
        filter: hue-rotate(0.75turn);
    }

    100% {
        filter: hue-rotate(1turn);
    }
}