:root {
    /* COLORS */
    --primary: #00d48a;
    --primary-hover: #42dda7;
    --primary-active: #1cb37e;

    --secondary: #42ffef;

    --background: #383838;
    --background-secondary: #414141;

    --font: #fdfdfd;
    --font-error: #c30505;

    --white: #fdfdfd;

    /* ROOT STYLE */
    background-color: var(--background);
    color: var(--font);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.glob-divider {
    border-color: var(--primary);
}

#content {
    /* FADE IN */
    opacity: 0;
    transition: opacity 300ms linear;
    text-align: center;
}

#content h1 {
    border-bottom: 2px solid var(--primary);
    font-size: 1.7em;
    font-weight: 100;
}

#content a {
    color: var(--primary);
}

#content a:hover {
    animation: hue-rotation 1s infinite;
}

#content>section {
    margin-bottom: 6em;
}

.layout {
    /* LAYOUT */
    max-width: initial;
    margin: auto;
    margin-top: 120px;
    padding: 0 1em;
}

.image-full {
    width: 100%;
}


 /* BUTTON */
.button {
    cursor: pointer;
    background-color: var(--primary);
    color: #fdfdfd;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border-radius: 2em;
    border:none;
}

.button:hover {
    background-color: var(--primary-hover);
}

.button:active {
    background-color: var(--primary-active);
}


/* LAYOUT BREAKPOINT */
@media only screen and (min-width: 1200px) {
    .layout {
        max-width: 1200px;
    }
}


/* ANIMATION FOR HREFS */
@keyframes hue-rotation {
    0% {
        filter: hue-rotate(0deg);
    }

    25% {
        filter: hue-rotate(0.25turn);
    }

    50% {
        filter: hue-rotate(0.5turn);
    }

    75% {
        filter: hue-rotate(0.75turn);
    }

    100% {
        filter: hue-rotate(1turn);
    }
}